# Contentful Space ID 
CONTENTFUL_SPACE_ID=your_space_id

# Contentful Delivery API Access Token 
CONTENTFUL_ACCESS_TOKEN=your_access_token

# Contentful Preview API Access Token 
CONTENTFUL_PREVIEW_ACCESS_TOKEN=your_preview_access_token

# Secret for validating Contentful webhook revalidation requests
CONTENTFUL_REVALIDATE_SECRET=your_revalidate_secret

# Contentful Management Token 
CONTENTFUL_MANAGEMENT_TOKEN=your_management_token

# Contentful Environment - (e.g., master, staging, dev)
CONTENTFUL_ENVIRONMENT=master
